*.1
*.adoc
*.j2
*.jsonnet
*.kate-swp
*.libsonnet
*.lock
*.log
*~
.*.swp
.*_cache/
.DS_Store*
.coverage
.cspellcache
.directory
.eslintignore
.pnp.*
.shellcheckrc
.venv/
/.wiswa-ci/
/.yarn/**/*.cjs
/.yarn/install-state.gz
/build/
/dist/
/docs/_build*/
/docs/_build/
/man/_static/
/mypy-report*/
Doxyfile
__pycache__/
cobertura.xml
coverage.xml
htmlcov/
mypy-report.xml
node_modules/
