{% from '.github/workflows/appimage-build.sh.j2' import build %}
{% from '.github/workflows/pyinstaller-test.sh.j2' import test_bash %}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: 'actions/checkout@{{ github_latest_action_tag('actions', 'checkout') }}'
      - name: 'Install Poetry'
        run: 'pipx install poetry yq'
      - name: 'Set up Python'
        uses: 'actions/setup-python@{{ github_latest_action_tag('actions', 'setup-python') }}'
        with:
          cache: 'poetry'
          python-version: '3.13'
{% if settings.github.workflows.appimage.apt_packages %}
      - name: 'Install dependencies'
        run: 'sudo apt-get update && sudo apt-get install -y {{ settings.github.workflows.appimage.apt_packages | join(" ") }}'
{% endif %}
      - name: 'Install dependencies (Poetry)'
        run: |
          poetry install
          poetry run -- pip install python-appimage
          wget -O generic.svg 'https://raw.githubusercontent.com/KDE/breeze-icons/refs/heads/master/icons/preferences/32/preferences-other.svg'
        shell: 'bash'
      - name: 'Build with python-appimage'
        run: |
          {{ build(settings) | indent(10) | trim }}
        shell: 'bash'
      - name: 'Test binary'
        run: |
          {{ test_bash() | indent(10) | trim }}
      - name: 'Upload Artifacts'
        uses: 'actions/upload-artifact@{{ github_latest_action_tag('actions', 'upload-artifact') }}'
        with:
          if-no-files-found: error
          name: {{ settings.github_project_name }}-binaries-linux-x86_64
          path: |
            dist/*
      - name: 'Attest'
        uses: 'actions/attest-build-provenance@{{ github_latest_action_tag('actions', 'attest-build-provenance') }}'
        with:
          subject-path: 'dist/*'
{% if settings.has_multiple_entry_points %}
      - if: github.ref_type == 'tag'
        name: 'Zip files'
        run: |
          rm -fR _out
          mkdir _out
          zip -j _out/{{ settings.github_project_name }}-${{ '{{' }} github.ref_name }}.zip dist/*
      - if: github.ref_type == 'tag'
        name: 'Attest'
        uses: 'actions/attest-build-provenance@{{ github_latest_action_tag('actions', 'attest-build-provenance') }}'
        with:
          subject-path: '_out/*.zip'
      - if: github.ref_type == 'tag'
        name: Upload package
        uses: softprops/action-gh-release@{{ github_latest_action_tag('softprops', 'action-gh-release') }}
        with:
          fail_on_unmatched_files: true
          files: |
            _out/*.zip
{% else %}
      - if: github.ref_type == 'tag'
        name: 'Attest'
        uses: 'actions/attest-build-provenance@{{ github_latest_action_tag('actions', 'attest-build-provenance') }}'
        with:
          subject-path: 'dist/*.AppImage'
      - if: github.ref_type == 'tag'
        name: Upload package
        uses: softprops/action-gh-release@{{ github_latest_action_tag('softprops', 'action-gh-release') }}
        with:
          fail_on_unmatched_files: true
          files: |
            dist/*.AppImage
{% endif %}
name: 'AppImage'
'on':
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'
    tags:
      - 'v*.*.*'
permissions:
  contents: 'write'
