{% macro test_bash(test_commands) %}
dist_files=(dist/*)
echo "Found ${{ '{#' }}dist_files[@]} files in dist/: ${dist_files[*]##*/}"
for file in "${dist_files[@]}"; do
    if [[ "${file}" == dist/index.*js ]]; then
        echo "Skipping index.js."
        continue
    fi
    echo "Testing '${file}'."
    "./${file}" --help
{% for cmd in test_commands %}
    "./${file}" {{ cmd }}
{% endfor %}
done
{% endmacro %}
