{% from '.github/workflows/version-info.py.j2' import version_info %}
{% macro build(settings) %}
    {% if settings.pyinstaller.macos_exclusions %}
macos_exclusions=(
  {{ settings.pyinstaller.macos_exclusions | join("\n") | indent(2) | trim }}
)
    {% endif %}
    {% if settings.pyinstaller.windows_exclusions %}
windows_exclusions=(
  {{ settings.pyinstaller.windows_exclusions | join("\n") | indent(2) | trim }}
)
    {% endif %}
project_name=$(tomlq -r '.project.urls.repository|split("/")[-1]' pyproject.toml)
vers=$(echo "$(tomlq -r '.project.version|split(".")|map(tonumber)|@csv' pyproject.toml),0")
version=$(tomlq -r .project.version pyproject.toml)
while IFS=$' ' read -r script_name python_path func_name; do
    {% if settings.pyinstaller.windows_exclusions %}
    if [[ "${{ '{{' }} matrix.os }}" == windows* ]] &&
        printf '%s\0' "${windows_exclusions[@]}" | grep -Fqxz -- "${script_name}"; then
        echo "Skipping ${script_name} on Windows."
        continue
    fi
    {% endif %}
    {% if settings.pyinstaller.macos_exclusions %}
    if [[ "${{ '{{' }} matrix.os }}" == macos* ]] &&
        printf '%s\0' "${macos_exclusions[@]}" | grep -Fqxz -- "${script_name}"; then
        echo "Skipping ${script_name} on macOS."
        continue
    fi
    {% endif %}
    func_name="${func_name#"${func_name%%[![:space:]]*}"}"
    func_name="${func_name%"${func_name##*[![:space:]]}"}"
    cat > temp_script.py <<EOF
from ${python_path} import ${func_name}
if __name__ == '__main__':
    ${func_name}()
EOF
    if [[ "${ACTIONS_RUNNER_DEBUG}" == 'true' ]]; then
        cat temp_script.py
    fi
    cat > version-info.txt <<EOF
{{ version_info(settings) | trim }}
EOF
    if [[ "${ACTIONS_RUNNER_DEBUG}" == 'true' ]]; then
        cat version-info.txt
    fi
    echo "Building executable for '${script_name}'..."
    {{ 'uv run' if settings.package_manager == 'uv' else 'poetry run --' }} pyinstaller --log-level ERROR --onefile -n "${script_name}" --optimize 1 \
      --hidden-import colorlog -y --version-file version-info.txt \
{% if settings.pyinstaller.extra_args %}
      {{ settings.pyinstaller.extra_args | join(" ") }} \
{% endif %}
      temp_script.py
    if [[ "${ACTIONS_RUNNER_DEBUG}" == 'true' ]]; then
        cat "${script_name}.spec"
    fi
done < <(tomlq -r '.project.scripts|to_entries[]|"\(.key) \(.value|split(":")|join(" "))"' pyproject.toml)
{% endmacro %}
