{% macro test_bash() %}
dist_files=(dist/*)
echo "Found ${{ '{#' }}dist_files[@]} files in dist/: ${dist_files[*]##*/}"
for file in "${dist_files[@]}"; do
    if [[ "${file}" == dist/index.*js ]]; then
        echo "Skipping index.js."
        continue
    fi
    echo "Testing '${file}'."
    "./${file}" --help
done
{% endmacro %}
