{% from '.github/workflows/pyinstaller-build.sh.j2' import build %}
{% from '.github/workflows/pyinstaller-test.ps1.j2' import test_powershell %}
{% from '.github/workflows/pyinstaller-test.sh.j2' import test_bash %}
jobs:
  build:
    runs-on: ${{ '{{' }} matrix.os }}
    steps:
      - uses: 'actions/checkout@{{ github_latest_action_tag('actions', 'checkout') }}'
{% if settings.package_manager == 'uv' %}
      - name: 'Install yq'
        run: 'pipx install yq'
      - name: 'Install uv'
        uses: 'astral-sh/setup-uv@{{ github_latest_action_tag('astral-sh', 'setup-uv') }}'
{% else %}
      - name: 'Install Poetry'
        run: 'pipx install poetry yq'
{% endif %}
      - name: 'Set up Python'
        uses: 'actions/setup-python@{{ github_latest_action_tag('actions', 'setup-python') }}'
        with:
{% if settings.package_manager != 'uv' %}
          cache: 'poetry'
{% endif %}
          python-version: '3.13'
{% if settings.package_manager == 'uv' %}
      - name: 'Install dependencies (uv)'
        run: |
          uv sync
          uv pip install pyinstaller
        shell: 'bash'
{% else %}
      - name: 'Install dependencies (Poetry)'
        run: |
          poetry install
          poetry run -- pip install pyinstaller
        shell: 'bash'
{% endif %}
      - name: 'Build with PyInstaller'
        run: |
          {{ build(settings) | indent(10) | trim }}
        shell: 'bash'
{% if settings.supported_platforms == 'all' or 'windows' in settings.supported_platforms %}
      - if: matrix.os == 'windows-latest' || matrix.os == 'windows-11-arm'
        name: 'Test binary'
        run: |
          {{ test_powershell() | indent(10) | trim }}
{% endif %}
{% if settings.supported_platforms == 'all' or 'macos' in settings.supported_platforms %}
      - if: matrix.os == 'macos-latest' || matrix.os == 'macos-15-intel'
        name: 'Test binary'
        run: |
          {{ test_bash() | indent(10) | trim }}
{% endif %}
      - name: 'Upload Artifacts'
        uses: 'actions/upload-artifact@{{ github_latest_action_tag('actions', 'upload-artifact') }}'
        with:
          if-no-files-found: error
          name: {{ settings.github_project_name }}-binaries-${{ '{{' }} matrix.suffix }}
          path: |
            ${{ '{{' }} matrix.dist_path }}
  {% if not settings.private %}
      - name: 'Attest'
        uses: 'actions/attest-build-provenance@{{ github_latest_action_tag('actions', 'attest-build-provenance') }}'
        with:
          subject-path: '${{ '{{' }} matrix.dist_path }}'
  {% endif %}
{% if settings.supported_platforms == 'all' or 'macos' in settings.supported_platforms %}
      - if: (matrix.os == 'macos-latest' || matrix.os == 'macos-15-intel') && github.ref_type == 'tag'
        name: 'Zip files'
        run: |
          rm -fR _out
          mkdir _out
          zip -j _out/{{ settings.github_project_name }}-${{ '{{' }} github.ref_name }}-${{ '{{' }} matrix.suffix }}.zip ${{ '{{' }} matrix.dist_path }}
{% endif %}
{% if settings.supported_platforms == 'all' or 'windows' in settings.supported_platforms %}
      - if: (matrix.os == 'windows-latest' || matrix.os == 'windows-11-arm') && github.ref_type == 'tag'
        name: 'Zip files'
        run: |
          Remove-Item -Force _out -ErrorAction Continue
          New-Item -ItemType Directory -Name _out
          Compress-Archive -Path ${{ '{{' }} matrix.dist_path }} -DestinationPath _out/{{ settings.github_project_name }}-${{ '{{' }} github.ref_name }}-${{ '{{' }} matrix.suffix }}.zip
        shell: pwsh
{% endif %}
  {% if not settings.private %}
      - if: github.ref_type == 'tag'
        name: 'Attest'
        uses: 'actions/attest-build-provenance@{{ github_latest_action_tag('actions', 'attest-build-provenance') }}'
        with:
          subject-path: '_out/*.zip'
  {% endif %}
      - if: github.ref_type == 'tag'
        name: Upload package
        uses: softprops/action-gh-release@{{ github_latest_action_tag('softprops', 'action-gh-release') }}
        with:
          fail_on_unmatched_files: true
          files: |
            _out/*.zip
    strategy:
      matrix:
        include:
{% if settings.supported_platforms == 'all' or 'macos' in settings.supported_platforms %}
          - os: 'macos-15-intel'
            dist_path: 'dist/*'
            suffix: 'mac-x86_64'
          - os: 'macos-latest'
            dist_path: 'dist/*'
            suffix: 'mac-arm64'
{% endif %}
{% if settings.supported_platforms == 'all' or 'windows' in settings.supported_platforms %}
          - os: 'windows-latest'
            dist_path: 'dist/*.exe'
            suffix: 'win-x86_64'
  {% if not settings.private %}
          - os: 'windows-11-arm'
            dist_path: 'dist/*.exe'
            suffix: 'win-arm64'
  {% endif %}
{% endif %}
name: 'PyInstaller'
'on':
  push:
    branches:
      - 'master'
    tags:
      - 'v*.*.*'
permissions:
  attestations: 'write'
  contents: 'write'
  id-token: 'write'
