<!-- markdownlint-configure-file {"MD024": { "siblings_only": true } } -->

# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.1.0/), and this project
adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

## [unreleased]

## [0.0.1] - {{ settings.year }}-00-00

First version.

[unreleased]: {{ settings.repository_uri }}/compare/v{{ settings.version }}...HEAD
[0.0.1]: {{ settings.repository_uri }}/releases/tag/v{{ settings.version }}
