<!-- markdownlint-configure-file {"MD024": { "siblings_only": true } } -->

# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog]({{ changelog_keep_a_changelog_url }}), and this project
adheres to [Semantic Versioning]({{ changelog_semver_spec_url }}).

## [unreleased]

## [0.0.1] - {{ settings.year }}-00-00

First version.

[unreleased]: {{ settings.repository_uri }}/compare/v{{ settings.version }}...HEAD
[0.0.1]: {{ settings.repository_uri }}/releases/tag/v{{ settings.version }}
