{% if settings.uses_qt %}
#include {{ '<' }}QtCore/QCoreApplication{{ '>' }}
{% endif %}

int main(int argc, char *argv[]) {
{% if settings.uses_qt %}
    QCoreApplication app(argc, argv);
    return app.exec();
{% else %}
    return 0;
{% endif %}
}
