{{ settings.directory_name }}
=============================

{% if settings.want_main %}
Commands
--------

.. click:: {{ settings.primary_module }}.main:main
   :prog: {{ settings.directory_name }}
   :nested: full
{% endif %}

.. only:: html

  .. toctree::
     :maxdepth: 2
     :caption: Contents:

  Indices and tables
  ==================
  * :ref:`genindex`
  * :ref:`modindex`
