# Security Policy

## Supported Versions

| Version | Supported          |
| ------- | ------------------ |
{% for version, support_state in settings.security_policy_supported_versions.items() %}
| {{ version }} | {{ support_state }} |
{% endfor %}

## Reporting a Vulnerability

{% if settings.using_github %}
Send me a direct message [on Bsky](https://bsky.app/profile/{{ settings.github.username | lower }}.bsky.social).
{% endif %}

{{ settings.security_addendum }}
